# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

.venv/
env/
venv/

# =========================
# DATASETS
# =========================
apps/validator-ml/datasets/

# =========================
# ML WEIGHTS
# =========================
apps/validator-ml/weights/*

# keep structure
!apps/validator-ml/weights/.gitkeep

# keep selected weights
!apps/validator-ml/weights/apparel/
!apps/validator-ml/weights/apparel/best.pt

!apps/validator-ml/weights/logo_presence/
!apps/validator-ml/weights/logo_presence/best.pt
!apps/validator-ml/weights/logo_presence/labels.json

!apps/validator-ml/weights/apparel_type/
!apps/validator-ml/weights/apparel_type/best.pt
!apps/validator-ml/weights/apparel_type/labels.json

# =========================
# RUNTIME DATA
# =========================
apps/validator-ml/data/uploads/
apps/validator-ml/data/results/

apps/validator-ml/artifacts/

# =========================
# TEMP / CACHE
# =========================
*.tmp
*.cache
*.bak

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store